@model IEnumerable<NorthwindDatabase.Models.Customer>

@{
                
   ViewBag.Title = "Index";
   if (Session["UserID"] == null)
   {
        Response.Redirect("~/Login/Index");
   }
}

<h2>Customer Information</h2>

@using (Html.BeginForm("Index", "Customers", FormMethod.Get))
{
    //the following are search options
    <b> Search Options: </b>
    <br />
    @Html.RadioButton("option", "CompanyName") <text>Company</text>
    <br />
    @Html.RadioButton("option", "ContactName") <text>Name</text>
    <br />
    @Html.RadioButton("option", "City")<text>City</text>
    <br />
    @Html.RadioButton("option", "Country")<text>Country</text>
    <br />
    @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<form>
    <a href="@Url.Action("LogOut","Login")">LogOut</a>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
            </td>
        </tr>
    }

</table>
